# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv_karate/
venv/
env/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Dataset / Source Code Mahasiswa
asli/
dataset*/

# output
data_output/
data_output(2)/
Output*/
log/

# file backup pribadi /file lain
backup/
backup_sementara/
old/
codeReferences/
# jplag/
jplag/input*/
jplag/output*/
moss/
coba*/

# Hasil Analisis & Evaluasi
*.xlsx
*.csv
*.json
*.pkl

# OS & Editor
.DS_Store
Thumbs.db
.vscode/

jplag/results.zip
jplag/jplag-5.1.0.jar