# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv_karate/
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Dataset / Source Code Mahasiswa
asli/
dataset/
dataset12/

# Hasil Analisis & Evaluasi
*.xlsx
*.csv
*.json

# OS & Editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log